.navbar {
  background-color: #6719e4;
  padding: 0.8rem 1rem;
}
.navbar-brand,
.nav-link {
  color: white !important;
  padding: 0.5rem 1rem;
}
.navbar-nav {
  text-align: center;
}
.heading{
  color: #6719e4
}
.accordion-button {
  color: #000 !important;
  font-size: 18px !important;
}
.accordion-body{
  background-color: #d1c0f140 !important;
}

.accordion-button:not(.collapsed)
{
  color: #fff !important;
  background: linear-gradient(150deg, #6e22e9bf,rgba(121, 56, 240, 0.65)) !important; 
}
.custom-thead {
  background-color: #6e22e9bf !important;
  color: white;
}
